#product-overview {
  background: url(./images/freedom.jpg);
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: white;
  text-align: center;
  font-size: 50px;
}

#product-overview h1 {
  color: white;
}

.item__call {
  color: white;
  list-style: none;
  font-size: 30px;
  margin: 0px 95px;
  font-weight: bold;
}

.key-feature__image {
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  color: white;
  font-size: 20px;
}

.items-contact {
  text-align: center;
  font-size: 30px;
  color: rgb(43, 108, 163);
}

.items-contact li {
  display: inline-block;
  vertical-align: middle;
  margin: 25px;
  text-decoration: none;
}

#contacting {
  text-align: center;
  font-size: 50px;
  color: rgb(43, 108, 163);
}

.footer {
  text-align: center;
  background: rgb(43, 108, 163);
  padding: 10px;
  color: white;
  font-size: 15px;
}
